/* $Id$  */

.vud-widget-plain {
  float: left;
  clear: left;
  padding: 2px;
  margin: 2px 5px 2px 0;
  border: 1px solid #ccc;
}

.up-active, .up-inactive, .down-active, .down-inactive {
  display: block;
  text-decoration: none;
  width: 15px;
  height: 16px;
}

a.up-inactive, a.down-inactive, span.up-inactive, span.down-inactive {
  cursor: pointer;
}

a.up-active, a.down-active, span.up-active, span.down-active {
  cursor: default;
}

.up-active, .up-inactive:hover {
  background: url('a_up_act.png') no-repeat 0px 0px;
}

.up-inactive {
  background: url('a_up_inact.png') no-repeat 0px 0px;
}

.down-active, .down-inactive:hover {
  background: url('a_down_act.png') no-repeat 0px 0px;
}

.down-inactive {
  background: url('a_down_inact.png') no-repeat 0px 0px;
}

.total-votes {
  font-weight: bold;
  color: #494949;
}

.vud-term-table {
  border: 1px solid #D3E7F4;
  float: right;
  width: 40em;
  margin: 0.5em 0 0.5em 1em;
}
